.App {
	height: 100vh;
	text-align: left;
	background-color: #282c34;
	color: white;
}

table {
	padding: 20px;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 10px 20px;
}

h1 {
	padding: 20px;
}
