.About,
.Products,
.addproduct,
.ProductInfo,
.PageNotFound,
.Error {
  padding: 30px;
}

h1,
.productInternal {
  color: #02B290;
}

th,
td {
  text-align: center;
  border: 1px solid white;
  padding: 10px 20px;
}

thead {
  font-size: larger;
  color: #02B290;
}

button {
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #02B290;
  color: #fff;
  border-radius: 5px;
  border: 0px;
}

.inputproduct {
  display: grid;
}

.label {
  color: #02B290;
  display: inline;
  font-size: 1.2rem;
  min-width: 100px;
}

.field {
  margin-top: 6px;
  padding: 8px;
  border-radius: 5px;
  border: 0px;
}

.invalid-input {
  color: #DE4839
}

.prodLink {
  color: #fdaea7;
  text-decoration: underline;
  cursor: pointer;
}