body {
  background-color: #b3e0ff;
}

/* home page css start */
.home {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-content {
  margin-top: 20%;
}

/* media query for home page */
@media (max-width: 768px) {
  img {
    display: none;
  }

  .home-content {
    margin-top: 50%;
  }
}

/* home page css ends */

/* about page css */
.about {
  text-align: justify;
  padding: 30px;
}

.about p {
  font-size: 1.3rem;
}

/* about page css ends */

/* error page css */
.oops {
  height: 90vh;
}

.oops h1 {
  align-self: center;
}