.signup-form-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #242B2E;
  color: white;
  border-radius: 10px;
}

.signup-form {
  text-align: left;
}

.invalid-input {
  color: #FF6263;
  font-size: small;
  text-align: left;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}